# theme.toml template for a Hugo theme
# See https://github.com/gohugoio/hugoThemes#themetoml for an example

name = "Cookbook"
license = "MIT"
licenselink = "https://github.com/deranjer/hugo-cookbook/blob/master/LICENSE"
description = "Cookbook is a theme that stores all of your recipes and displays them in a viewable format on desktop and mobile."
homepage = "https://github.com/deranjer/hugo-cookbook/"
tags = ["recipes", "cookbook", "cooking", "bulma", "responsive"]
features = []
min_version = "0.72.0"

[author]
  name = "Jared Swets"
  homepage = ""


[markup]
  defaultMarkdownHandler = "goldmark"
  [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.parser]
      attribute = true
      autoHeadingID = true
      autoHeadingIDType = "github"
    [markup.goldmark.renderer]
      hardWraps = false
      unsafe = false
      xhtml = false
