<div id="searchResults" class="section is-hidden">
    <h4 class="title is-3"> Search results </h4>
    <div id="searchResultsCol" class="columns is-multiline">
        {{/* Search template will populate here */}}
    </div>
</div>
<script id="search-result-template" type="text/x-js-template">
    <div class="column is-one-quarter">
        <div class="result" id="summary-${key}">
            <div class="card" style="border-radius: 1%;">
    <div class="card-image">
        <figure class="image is-4by3">
        <img style="border-radius: 3%;" src="${image}" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media-content">
            <p class="title is-4 has-text-centered">${title}</p>
            <p class="subtitle is-6 "><em>{{ $.Params }}</em></p>
        </div>
        <div class="content">
            <p class="is-small">${snippet}</p>
        </div>
        <div class="card-footer">
            <a href="${link}" class="card-footer-item button is-primary">View Recipe</a>
        </div>
    </div>
</div>
        </div>
    </div>
</script>